.DS_Store
.tramp_history
*/.tramp_history
cache
*~
test/.testdataprepared
test/crew
test/crew.git
test/crew.net
test/pkg.cache
test/ndk
test/ndk.copy
test/www
test/data/curl-*.rb
test/data/libarchive-*.rb
test/data/ruby-*.rb
test/data/xz-*.rb
test/data/cloog-1.rb
test/data/cloog_old-1.rb
test/data/curl-1.rb
test/data/expat-1.rb
test/data/gcc-1.rb
test/data/gmp-1.rb
test/data/isl-1.rb
test/data/isl_old-1.rb
test/data/libarchive-1.rb
test/data/libedit-1.rb
test/data/libgit2-1.rb
test/data/libssh2-1.rb
test/data/libtwo-1.rb
test/data/llvm-1.rb
test/data/make-1.rb
test/data/mpc-1.rb
test/data/mpfr-1.rb
test/data/nawk-1.rb
test/data/ndk_base-1.rb
test/data/ndk_depends-1.rb
test/data/ndk_stack-1.rb
test/data/openssl-1.rb
test/data/ppl-1.rb
test/data/python-1.rb
test/data/ruby-1.rb
test/data/toolbox-1.rb
test/data/xz-1.rb
test/data/yasm-1.rb
test/data/zlib-1.rb
test/data/releases_info.rb
test/tmp
